{% extends 'base_layout.html' %}
{% block content %}
<div style="width: auto; height: auto;">
    <img id="image" src="{{ imagetag.picture.url }}" style="height: 500px; width: 500px;">
    <p> Related Tags:
        {% for tag in imagetag.tag.all %}
        <br>
        {{ tag }}
        {% endfor %}
    </p>
</div>

<div style="padding: 30px;">
    <button class="btn btn-primary" id="clockwise">Rotate Clockwise</button>
    <button class="btn btn-primary" id="initial">Normal</button>
    <button class="btn btn-primary" id="anti-clockwise">Rotate Anti-Clockwise</button>
    <br>
    <h2 id='message'></h2>
</div>

<script>
    img = document.getElementById('image')
    document.getElementById('clockwise').onclick = function(){
        document.getElementById('image').style.transform = "rotate(90deg)";
    }
    document.getElementById('initial').onclick = function(){
        document.getElementById('image').style.transform = "none";
    }
    document.getElementById('anti-clockwise').onclick = function(){
        document.getElementById('image').style.transform = "rotate(-90deg)";
    }

    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');

    $('#clockwise').click(function() {    
    $.ajax({
        url: "/image/{{ imagetag.id }}/",
        headers: {'X-CSRFToken': csrftoken},
        method: 'POST', 
        data: {
            clockwise: true, // data passed to the function
            click: true
        },
        success: function (json) {        
            $('#message').html("<h5>Successfully saved</h5>"); 
            console.log(json);
            location.reload(true);// hard refresh inorder to display the rotated image
            console.log("success");
        },

    });
    });
    $('#anti-clockwise').click(function() {    
    $.ajax({
        url: "/image/{{ imagetag.id }}/",
        headers: {'X-CSRFToken': csrftoken},
        method: 'POST', 
        data: {
            anticlockwise: true, // data passes to the function
            click: true
        },
        success: function (json) {        
            $('#message').html("<h5>Successfully saved AntiClockwise</h5>");
            console.log(json);
            location.reload(true); // hard refresh inorder to display the rotated image 
            console.log("success");
        },

    });
    });

</script>

{% endblock %}